<!DOCTYPE html>
<html lang="en"
    xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Display all products</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<div class='container'>
    <h3 class='mt-5  text-center'>Product catalog</h3> <br>
    <p class="h6 ml-4 mb-2"> Default catalog : To show all the products which is ordered by Category </p> <br>

    <div class="justify-content-between align-items-center float-right mb-2">
        <form class="form-inline"  th:action="@{ /product-catalog/display-all-products }" method="get">
            <input class="form-control mr-2" list="categories" placeholder="Search category here" name="category" aria-label="category">
              <datalist id="categories">
                 <option th:each="each: ${categoriesList}" th:text="${each}" th:value="${each}" >
                 </option>
              </datalist>
            <button class="btn btn-outline-success " type="submit" >Search</button>
        </form>
        <p class=" text-danger mb-2" th:if="${customError}"  > Enter valid category</p>
    </div>

    <br>



    <!--            <input class="form-control mr-2" type="search" placeholder="Search category here" name="category" aria-label="search" >-->
    <!--            <button class="btn btn-outline-success " type="submit" >Search</button>-->

    <!--            <select class="form-control mr-2" name="category" aria-label="search" >-->
    <!--                <option th:each="each : ${categoriesList}" th:text="${each}" th:value="${each}">-->
    <!--                </option>-->
    <!--            </select>-->

<!--    <form action="/action_page.php">-->
<!--        <input list="browsers" name="browser">-->
<!--        <datalist id="browsers">-->
<!--            <option value="Edge">-->
<!--            <option value="Firefox">-->
<!--            <option value="Chrome">-->
<!--            <option value="Opera">-->
<!--            <option value="Safari">-->
<!--        </datalist>-->
<!--        <input type="submit">-->
<!--    </form>-->

    <table class='table table-sm table-hover ' >
        <thead >
            <tr >
                <th >Product Name</th>
                <th >Price</th>
                <th >Category</th>
            </tr>

        </thead>
        <!--conditional rendering -->
        <tbody>
            <tr th:each="each:${productsList}">
                <td th:text="${each.productName}"> </td>
                <td th:text="${each.productPrice}"> </td>
                <td th:text="${each.productCategory}"> </td>
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>